* {
    font-family: 'Poppins';
}

body {
    display: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul {
    display: flex;
    list-style-type: none;
    margin-top: auto;
    margin-bottom: auto;
    color: #152C5B;
}

li {
    margin-right: 15px;
}

.header {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #E5E5E5;
}

.header h1 {
    color: #152C5B;
}

.stay {
    color: #3252DF;
}

.firstlist {
    color: #3252DF;
}

main .show__me {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    width: max-content;
    margin-right: auto;
    margin-left: auto;
}

.forget__your {
    position: relative;
    margin-right: 300px;
}

.forget__your h2 {
    font-size: 42px;
    color: #152C5B;
    line-height: 63px;
}

.forget__your p {
    color: #B0B0B0;
}

.forget__your button {
    background-color: #3252DF;
    color: white;
    border-radius: 4px;
    box-shadow: 0px 8px 15px rgba(50, 82, 223, 0.3);
    border: none;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 30px;
    font-size: 18px;
}

.travel {
    position: absolute;
    display: flex;
    bottom: 0;
    left: 0;
}

.travel div {
    margin-right: 30px;
}

.travel span {
    color: #152C5B;
    font-weight: bold;
}

.mostpicked h2 {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-top: 80px;
    margin-top: 30px;
    font-size: 25px;
    color: #152C5B;
}

.picked {
    position: relative;
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 10px;
}

.picked div {
    margin-right: 60px;
}

.beachclub h2 {
    position: absolute;
    font-size: 20px;
    color: #152C5B;
    left: 18px;
    top: 295px;
}

.beachclub p {
    font-size: 15px;
    color: #152C5B;
    position: absolute;
    left: 68px;
    top: 420px;
}

.kontainer_atas {
width: 800px;
margin: 0 auto;
}

.flex-kolom {
    display: flex;
    flex-direction: column;
    padding-left: -100px;
    padding-right: -100px;
    padding-bottom: 0px;
    padding-top: 20px;
    margin-top: -25px;
    margin-right: 50px;
    margin-left: -5px;
    justify-content: space-between;
    flex-grow: 2;
    left: -100px;
}

.flex-baris {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    padding-left: -100px;
    padding-right: -100px;
    padding-bottom: 22px;
    padding-top: 0px;
    margin-left: -5px;
    margin-right: 100px;
    margin-top: 5px;
    left: -200px;
}

.montigo h2 {
    position: absolute;
    font-size: 20px;
    color: #152C5B;
    left: 450px;
    top: 55px;
}

.montigo p {
    position: absolute;
    font-size: 15px;
    color: #152C5B;
    left: 500px;
    top: 180px;
}

.montana-box h2 {
    position: absolute;
    font-size: 20px;
    color: #152C5B;
    left: 870px;
    top: 55px;
}

.montana-box p {
    position: absolute;
    font-size: 15px;
    color: #152C5B;
    left: 920px;
    top: 180px;
}

.kalpa-tree h2 {
    position: absolute;
    font-size: 20px;
    color: #152C5B;
    left: 450px;
    top: 295px;
}

.kalpa-tree p {
    position: absolute;
    font-size: 15px;
    color: #152C5B;
    left: 500px;
    top: 420px;
}

.caesar-palace h2 {
    position: absolute;
    font-size: 20px;
    color: #152C5B;
    left: 870px;
    top: 295px;
}

.caesar-palace p {
    position: absolute;
    font-size: 15px;
    color: #152C5B;
    left: 920px;
    top: 420px;
}

.harga-pertama {
    position: absolute;
    display: flex;
    padding-left: 180px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-top: 0px;
    margin-top: 0px;
}

.harga-pertama p{
    position: absolute;
    font-size: 18px;
    color: #FFFFFF;
    position: absolute;
    left: 212px;
    top: -13px;
}

.harga-pertama p span {
    font-weight: bold;
}

.harga-kedua {
    position: absolute;
    display: flex;
    padding-left: 180px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-top: 0px;
    margin-top: 0px;
}

.harga-kedua p {
    position: absolute;
    font-size: 18px;
    color: #FFFFFF;
    position: absolute;
    left: 212px;
    top: -13px;
}

.harga-kedua p span {
    font-weight: bold;
}

.harga_ketiga {
    position: absolute;
    display: flex;
    padding-left: 601px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-top: 0px;
    margin-top: 0px;
}

.harga_ketiga p {
    position: absolute;
    font-size: 18px;
    color: #FFFFFF;
    position: absolute;
    left: 627px;
    top: -13px;
}

.harga_ketiga p span {
    font-weight: bold;
}

.harga_keempat {
    position: absolute;
    display: flex;
    padding-left: 180px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-top: 0px;
    margin-top: 0px;
}

.harga_keempat p {
    position: absolute;
    font-size: 18px;
    color: #FFFFFF;
    position: absolute;
    left: 212px;
    top: -13px;
}

.harga_keempat p span {
    font-weight: bold;
}

.harga_kelima {
    position: absolute;
    display: flex;
    padding-left: 601px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-top: 0px;
    margin-top: 0px;
}

.harga_kelima p {
    position: absolute;
    font-size: 18px;
    color: #FFFFFF;
    position: absolute;
    left: 636px;
    top: -13px;
}

.harga_kelima p span {
    font-weight: bold;
}

.part_one h2 {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-top: 25px;
    margin-top: 25px;
    font-size: 25px;
    color: #152C5B;
}

.container_pertama {
    display: flex;
    width: 800px;
    height: 250px;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    margin-left: 10px;
    margin-top: -30px;
}

.flex-bariiis {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 22px;
    padding-top: 0px;
    margin-left: 15px;
    margin-right: -430px;
    margin-top: 5px;
    left: 200px;
    justify-content: space-between;
}

.tabby h2 {
    position: relative;
    font-size: 20px;
    color: #152C5B;
    left: -48px;
    top: -40px;
}

.tabby p {
    font-size: 15px;
    color: #B0B0B0;
    position: relative;
    left: 5px;
    top: -60px;
}

.label-harga1 {
    position: absolute;
    display: flex;
    padding-left: 83px;
    padding-right: 83px;
    padding-bottom: 10px;
    padding-top: 0px;
    margin-top: 0px;
}

.label-harga1 p{
    position: absolute;
    font-size: 18px;
    color: #FFFFFF;
    position: absolute;
    left: 105px;
    top: -13px;
}

.label-harga1 p span {
    font-weight: bold;
}

.anggana h2 {
    position: relative;
    font-size: 20px;
    color: #152C5B;
    left: -48px;
    top: -40px;
}

.anggana p {
    font-size: 15px;
    color:  #B0B0B0;
    position: relative;
    left: 5px;
    top: -60px;
}

.seatle-rain h2 {
    position: relative;
    font-size: 20px;
    color: #152C5B;
    left: -48px;
    top: -40px;
}

.seatle-rain p {
    font-size: 15px;
    color: #B0B0B0;
    position: relative;
    left: 5px;
    top: -60px;
}

.wooden-pit h2 {
    position: relative;
    font-size: 20px;
    color: #152C5B;
    left: -48px;
    top: -40px;
}

.wooden-pit p {
    font-size: 15px;
    color: #B0B0B0;
    position: relative;
    left: 5px;
    top: -60px;
}

.part_two h2 {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-top: 25px;
    margin-top: 25px;
    font-size: 25px;
    color: #152C5B;
}

.container_kedua {
    display: flex;
    width: 800px;
    height: 250px;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    margin-left: 10px;
    margin-top: -30px;
}

.green-park {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 22px;
    padding-top: 0px;
    margin-left: 15px;
    margin-right: -430px;
    margin-top: 5px;
    left: 200px;
    justify-content: space-between;
}

.green-park h2 {
    position: relative;
    font-size: 20px;
    color: #152C5B;
    left: -48px;
    top: -40px;
}

.green-park p {
    font-size: 15px;
    color: #B0B0B0;
    position: relative;
    left: 5px;
    top: -60px;
}

.podowae h2 {
    position: relative;
    font-size: 20px;
    color: #152C5B;
    left: -48px;
    top: -40px;
}

.podowae p {
    font-size: 15px;
    color: #B0B0B0;
    position: relative;
    left: 5px;
    top: -60px;
}

.silver-rain h2 {
    position: relative;
    font-size: 20px;
    color: #152C5B;
    left: -48px;
    top: -40px;
}

.silver-rain p {
    font-size: 15px;
    color: #B0B0B0;
    position: relative;
    left: 5px;
    top: -60px;
}

.cashville h2 {
    position: relative;
    font-size: 20px;
    color: #152C5B;
    left: -48px;
    top: -40px;
}

.cashville p {
    font-size: 15px;
    color: #B0B0B0;
    position: relative;
    left: 5px;
    top: -60px;
}

.label-harga2 {
    position: absolute;
    display: flex;
    padding-left: 1024px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-top: 0px;
    margin-top: 0px;
}

.label-harga2 p{
    position: absolute;
    font-size: 18px;
    color: #FFFFFF;
    position: absolute;
    left: 1047px;
    top: -13px;
}

.tag2 p span {
    font-weight: bold;
}

.part_three h2 {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-top: 25px;
    margin-top: 25px;
    font-size: 25px;
    color: #152C5B;
}

.container_ketiga {
    display: flex;
    width: 800px;
    height: 250px;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    margin-left: 10px;
    margin-top: -30px;
}

.flex-bariiiiis {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 22px;
    padding-top: 0px;
    margin-left: 15px;
    margin-right: -430px;
    margin-top: 5px;
    left: 200px;
    justify-content: space-between;
}

.pswood h2 {
    position: relative;
    font-size: 20px;
    color: #152C5B;
    left: -48px;
    top: -40px;
}

.pswood p {
    font-size: 15px;
    color: #B0B0B0;
    position: relative;
    left: 5px;
    top: -60px;
}

.onefive h2 {
    position: relative;
    font-size: 20px;
    color: #152C5B;
    left: -48px;
    top: -40px;
}

.onefive p {
    font-size: 15px;
    color: #B0B0B0;
    position: relative;
    left: 5px;
    top: -60px;
}

.minimal h2 {
    position: relative;
    font-size: 20px;
    color: #152C5B;
    left: -48px;
    top: -40px;
}

.minimal p {
    font-size: 15px;
    color: #B0B0B0;
    position: relative;
    left: 5px;
    top: -60px;
}

.label-harga3 {
    position: absolute;
    display: flex;
    padding-left: 710px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-top: 0px;
    margin-top: 0px;
}

.label-harga3 p{
    position: absolute;
    font-size: 18px;
    color: #FFFFFF;
    position: absolute;
    left: 732px;
    top: -13px;
}

.label-harga3 p span {
    font-weight: bold;
}

.stayshome h2 {
    position: relative;
    font-size: 20px;
    color: #152C5B;
    left: -48px;
    top: -40px;
}

.stayshome p {
    font-size: 15px;
    color: #B0B0B0;
    position: relative;
    left: 5px;
    top: -60px;
}

.happy-family {
    margin-left: 800px;
}

.happy-family h1 {
    color: #152C5B;
    font-size: 24px;
    margin-top: 225px;
    margin-left: -200px;
}

.happy-family p{
    color: #152C5B;
    font-size: 18px;
    margin-bottom: 0px;
    margin-left: -200px;
}

.happy-family button{
    background-color: #3252DF;
    color: white;
    border-radius: 4px;
    box-shadow: 0px 8px 15px rgba(50, 82, 223, 0.3);
    border: none;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 50px;
    margin-left: -200px;
    font-size: 18px;
}

.happy img {
    display: flex;
    position: absolute;
    left: 112px;
    top: 2540px;
}

.bintang-lima {
    position: relative;
    display: flex;
    bottom: 0;
    left: 0;
    margin-top: 50px;
    margin-left: -200px;
}

.deskripsi p {
    color:#152C5B;
    font-size: 32px;
    margin-top: 18px;
    margin-left: -200px;
}

footer {
    margin-top: 230px;
    border-top: 2px solid #E5E5E5;
}

.footer_pertama {
    margin-left: 60px;
}

.footer_pertama h2 {
    color: #152C5B;
    font-size: 24px;
}

.footer_pertama span {
    color: #3252DF;
}

.footer_pertama p {
    color: #B0B0B0;
    font-size: 18px;
}

.footer_kedua {
    margin-left: 140px;
}

.footer_kedua h2 {
    color: #152C5B;
    font-size: 18px;
}

.footer_kedua p {
    color: #B0B0B0;
    font-size: 16px;
}

.footer_ketiga {
    margin-left: 100px;
}

.footer_ketiga h2 {
    color: #152C5B;
    font-size: 18px;
}

.footer_ketiga p {
    color: #B0B0B0;
    font-size: 16px;
}

.footer_keempat {
    margin-left: 100px;
}

.footer_keempat h2 {
    color: #152C5B;
    font-size: 18px;
}

.footer_keempat p {
    color: #B0B0B0;
    font-size: 16px;
}

.teks_terakhir p {
    text-align: center;
    color: #B0B0B0;
}
